/* slider Section */

.slider-section .slide-title {
	position: absolute;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 0.20);
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 25%;
	color: #fff;
	text-transform: uppercase;
	padding: 48px 0;
}

.slider-section .slide-title span.inner-circle {
	width: 400px;
	height: 400px;
	border: 2px solid #fff;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	padding: 93px 0;
}

.slider-section .slide-title span.inner-circle span {
	display: block;
	text-align: center;
}

.slider-section .slide-title span.inner-circle span:nth-child(1) {
	font-size: 69px;
}

.slider-section .slide-title span.inner-circle span:nth-child(2) {
	font-size: 63px;
}

.slider-section .slide-title span.inner-circle span:nth-child(3) {
	font-size: 60px;
}

.slider-section .slide-sub-title {
	color: #fff;
	text-transform: uppercase;
	font-size: 72px;
	line-height: 80px;
	bottom: 101px;
	position: absolute;
	left: 76px;
	font-weight: bold;
	display: none;
}

.slider-section .slide-sub-title span {
	display: block;
}

.slider-content {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

.right,
.left {
	position: absolute;
	top: 0;
	height: 100%;
	width: 50%;
	left: 0;
	right: auto;
}

.right .slide-sub-title {
	text-align: right;
	right: 76px;
	left: auto;
}

.right {
	left: auto;
	right: 0;
}

.left:hover .slide-sub-title,
.right:hover .slide-sub-title {
	display: block;
}


/* ## //- Header Section */

.header-section {
	background-color: #f49ac0;
	width: 100%;
	height: 90px;
	position: relative;
}

.header-section.navbar-fixed-top {
	position: fixed;
	top: 0;
	z-index: 9999;
}


/* Logo Block */

.logo-block {
	line-height: 90px;
	padding-left: 91px;
}


/* Navigation Menu */

.menu-block .navbar-default {
	background-color: transparent;
	border: none;
}

.menu-block .navbar {
	margin-bottom: 0;
}

.menu-block .navbar-nav {
	padding-right: 15px;
}

.menu-block .navbar-nav>li {
	padding: 0 5px;
}

.menu-block .navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
	line-height: 60px;
}

border: none;

}
.menu-block .navbar {
	margin-bottom: 0;
}
.menu-block .navbar-nav {
	padding-right: 15px;
}
.menu-block .navbar-nav>li {
	padding: 0 5px;
}
.menu-block .navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
	line-height: 60px;
}