/* 
	## 1741 to 1902
	## 1681 to 1740
	## 1537 to 1680
	## 1367 to 1536
	## 1367 to 1550
	## 1201 to 1550
	## 1201 to 1366
	## 992 to 1200
	## 1025 to 1200
	## 1201 to 1280
	## 1281 to 1366
	## 992 to 1024
	## 768 to 991
	## 319 to 767
	## 481 to 767
	## 319 to 480
	## 319 to 479
	## 991
*/


/* ## 1741 to 1902 ## */

@media only screen and (min-width: 1741px) and (max-width: 1902px) {
	/* How We Work */
	.research-slope:before {
		width: 52.4%;
	}
	/* Our Genius */
	.genius-gallery {
		width: 100%;
		display: inline-block;
	}
	.our-genius .style1,
	.our-genius .style3 {
		width: 25.135%;
	}
	.our-genius .style4 {
		width: 28%;
	}
	.our-genius .style5,
	.our-genius .style6 {
		width: 25.1%;
	}
	.our-genius .style7 {
		width: 28%;
	}
	.our-genius .style2 {
		width: 56%;
	}
	.our-genius .style1,
	.our-genius .style2,
	.our-genius .style3,
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7,
	.our-genius .style1 img,
	.our-genius .style2 img,
	.our-genius .style3 img,
	.our-genius .style4 img,
	.our-genius .style5 img,
	.our-genius .style6 img,
	.our-genius .style7 img {
		height: 400px;
	}
	.our-genius .style1 img,
	.our-genius .style2 img,
	.our-genius .style3 img,
	.our-genius .style4 img,
	.our-genius .style5 img,
	.our-genius .style6 img,
	.our-genius .style7 img {
		width: 100% !important;
	}
	.inner-social-info {
		padding: 90px 70px;
	}
	.inner-social-info p {
		font-size: 15px;
		line-height: 25px;
	}
	.progress {
		margin-top: 40px;
		height: 50px;
		line-height: 50px;
	}
}


/* ## 1681 to 1740 ## */

@media only screen and (min-width: 1681px) and (max-width: 1740px) {
	/* How We Work */
	.research-slope:before {
		width: 53.4%;
	}
	/* Our Genius */
	.genius-gallery {
		width: 100%;
		display: inline-block;
	}
	.our-genius .style1,
	.our-genius .style3 {
		width: 23.72%;
	}
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7 {
		width: 26.696%;
	}
	.our-genius .style2 {
		width: 59.36%;
	}
	.our-genius .style1,
	.our-genius .style2,
	.our-genius .style3,
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7,
	.our-genius .style1 img,
	.our-genius .style2 img,
	.our-genius .style3 img,
	.our-genius .style4 img,
	.our-genius .style5 img,
	.our-genius .style6 img,
	.our-genius .style7 img {
		height: 400px;
	}
	.inner-social-info {
		padding: 90px 70px;
	}
	.inner-social-info p {
		font-size: 15px;
		line-height: 25px;
	}
	.progress {
		margin-top: 40px;
		height: 50px;
		line-height: 50px;
	}
}


/* ## 1537 to 1680 ## */

@media only screen and (min-width: 1537px) and (max-width: 1680px) {
	/* How We Work */
	.research-slope:before {
		width: 54.4%;
	}
	/* Our Genius */
	.genius-gallery {
		width: 100%;
		display: inline-block;
	}
	.our-genius .style1,
	.our-genius .style3 {
		width: 23.8%;
	}
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7 {
		width: 26.756%;
	}
	.our-genius .style2 {
		width: 59.45%;
	}
	.our-genius .style1,
	.our-genius .style2,
	.our-genius .style3,
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7,
	.our-genius .style1 img,
	.our-genius .style2 img,
	.our-genius .style3 img,
	.our-genius .style4 img,
	.our-genius .style5 img,
	.our-genius .style6 img,
	.our-genius .style7 img {
		height: 400px;
	}
	.inner-social-info {
		padding: 90px 70px;
	}
	.inner-social-info p {
		font-size: 15px;
		line-height: 25px;
	}
	.progress {
		margin-top: 40px;
		height: 50px;
		line-height: 50px;
	}
	.skills-info {
		right: 5px;
	}
}


/* ## 1367 to 1536 ## */

@media only screen and (min-width: 1367px) and (max-width: 1536px) {
	/* Our Genius */
	.genius-gallery {
		width: 100%;
		display: inline-block;
	}
	.our-genius .style1,
	.our-genius .style3 {
		width: 24.15%;
	}
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7 {
		width: 26.921%;
	}
	.our-genius .style2 {
		width: 59.42%;
	}
	.our-genius .style1,
	.our-genius .style2,
	.our-genius .style3,
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7,
	.our-genius .style1 img,
	.our-genius .style2 img,
	.our-genius .style3 img,
	.our-genius .style4 img,
	.our-genius .style5 img,
	.our-genius .style6 img,
	.our-genius .style7 img {
		height: 350px;
	}
	.inner-social-info {
		padding: 20px 35px;
	}
	.inner-social-info p {
		font-size: 15px;
		line-height: 25px;
	}
	.progress {
		margin-top: 25px;
		height: 50px;
		line-height: 50px;
	}
	.skills-info {
		right: 8px;
	}
	.social-info {
		padding: 50px 0;
	}
}


/* ## 1367 to 1550 ## */

@media only screen and (min-width: 1367px) and (max-width: 1550px) {
	.research-slope:before {
		/*border-bottom: 800px solid rgba(231, 76, 68, 0.9);
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;*/
		/*border: none;
		background-color: rgba(231, 76, 68, 0.9);*/
		content: "";
		height: 100%;
		width: 54.2%;
		/*transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		-o-transform: rotate(5deg);*/
	}
	.research {
		right: 155px;
	}
	.we-perfection {
		left: 155px;
	}
	.we-perfection-slope:before {
		border: none;
		background-color: rgba(231, 76, 68, 0.9);
		content: "";
		height: 110%;
		top: -79px;
		width: 50%;
		transform: rotate(-14deg);
		-webkit-transform: rotate(-14deg);
		-moz-transform: rotate(-14deg);
		-o-transform: rotate(-14deg);
	}
	.clean-code:before {
		border: none;
		background-color: rgba(231, 76, 68, 0.9);
		content: "";
		height: 120%;
		top: -25px;
		width: 50%;
		transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		-moz-transform: rotate(15deg);
		-o-transform: rotate(15deg);
	}
	.we-launch-slope:before {
		content: "";
		height: 120%;
		top: -115px;
		transform: rotate(5.5deg);
		-webkit-transform: rotate(5.5deg);
		-moz-transform: rotate(5.5deg);
		-o-transform: rotate(5.5deg);
		width: 57%;
	}
	.we-launch-slope {
		margin-top: -275px;
	}
	.features-section h2 {
		margin-right: 85px;
	}
	.why-choose h2 {
		margin-left: 95px;
	}
}


/* ## 1201 to 1550 ## */

@media only screen and (min-width: 1201px) and (max-width: 1550px) {
	/* Why Choose Section */
	.why-choose-box {
		margin-left: 167px;
	}

	 .polltablet {
		margin-left: 1px !important;
	}
	/* Our Genius */
	.our-genius .style1 img,
	.our-genius .style2 img,
	.our-genius .style3 img,
	.our-genius .style4 img,
	.our-genius .style5 img,
	.our-genius .style6 img,
	.our-genius .style7 img {
		width: 100% !important;
	}
	.brag-content {
		top: 130px;
	}
}


/* ## 1201 to 1366 ## */

@media only screen and (min-width: 1201px) and (max-width: 1366px) {
	.slider-section .slide-title {
		width: 400px;
		height: 400px;
		top: 22%;
	}
	.slider-section .slide-title span.inner-circle {
		width: 300px;
		height: 300px;
		padding: 50px 0;
	}
	.slider-section .slide-title span.inner-circle span:nth-child(1) {
		font-size: 60px;
	}
	.slider-section .slide-title span.inner-circle span:nth-child(2) {
		font-size: 60px;
	}
	.slider-section .slide-title span.inner-circle span:nth-child(3) {
		font-size: 51px;
	}
	/* How We Work */
	.research-slope:before {
		width: 52.8%;
		height: 100%;
		/*border: none;
		transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		-o-transform: rotate(5deg);
		background-color: rgba(231,76,68,0.9);*/
		top: -30px;
	}
	.research {
		right: 120px;
	}
	.we-perfection-slope:before {
		width: 52.2%;
		height: 120%;
		border: none;
		background-color: rgba(231, 76, 68, 0.9);
		top: -83px;
		transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		-o-transform: rotate(-15deg);
	}
	.clean-code:before {
		width: 53%;
		height: 100%;
		border: none;
		transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		-moz-transform: rotate(15deg);
		-o-transform: rotate(15deg);
		background-color: rgba(231, 76, 68, 0.9);
		top: 0px;
	}
	.we-launch-slope:before {
		border-color: rgba(231, 76, 68, 0.9) transparent;
		border-style: solid;
		border-width: 0px 200px 800px 0;
		height: 100%;
		top: 42px;
		transform: skewY(6deg);
		-webkit-transform: skewY(6deg);
		-moz-transform: skewY(6deg);
		-o-transform: skewY(6deg);
		width: 57%;
	}
	.features-section h2 {
		margin-right: 85px;
	}
	/* Why Choose */
	.why-choose-inner {
		margin-left: 40px;
	}
	.why-choose h2 {
		margin-left: 95px;
		font-size: 40px;
	}
	/* loght box form */
	.modal.in .modal-dialog {
		transform: translate(0px, 25%);
	}
}


/* ## 992 to 1200 ## */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	/* Slider Section */
	.slider-section .slide-title {
		top: 12%;
	}
	.slider-section .slide-sub-title {
		line-height: 65px;
		font-size: 56px;
		bottom: 50px;
	}
	/* Features Section */
	.feature-box {
		left: -83px;
	}
	.line.lightbulb hr {
		right: -560px;
	}
	.line.lightbulb i {
		right: -224px;
	}
	.line.house i {
		right: -344px;
	}
	.line.gift i {
		right: -310px;
	}
	.line.camera hr {
		right: -570px;
	}
	.line.camera i {
		right: -280px
	}
	/* Why Choose Section */
	.why-choose:before {
		width: 73%;
	}


	.features-section:before {
    width: 73%;
}
	/* How We Work */
	.we-perfection-slope:before {
		width: 52.8%;
		height: 130%;
		border: none;
		background-color: rgba(231, 76, 68, 0.9);
		top: -83px;
		transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		-o-transform: rotate(-15deg);
	}
	.clean-code:before {
		width: 51%;
		height: 100%;
		border: none;
		transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		-moz-transform: rotate(15deg);
		-o-transform: rotate(15deg);
		background-color: rgba(231, 76, 68, 0.9);
		top: 0px;
		right: -30px;
	}
	.we-launch-slope:before {
		border-color: rgba(231, 76, 68, 0.9) transparent;
		border-style: solid;
		border-width: 0px 200px 800px 0;
		height: 100%;
		top: 47px;
		transform: skewY(7deg);
		-webkit-transform: skewY(7deg);
		-moz-transform: skewY(7deg);
		-o-transform: skewY(7deg);
		width: 62%;
	}
	.research,
	.clean-code-box {
		right: 120px;
	}
	.we-perfection,
	.we-launch {
		left: 120px;
	}
	/* Our Genius */
	.skill-progress-box h6 {
		line-height: 40px;
	}
	/* Blog Section */
	.entry-cover {
		width: 76%;
	}
	.entry-cover img {
		height: 210px;
	}
	/* Brag About Section */
	.brag-content {
		width: 96%;
		top: 80px;
	}
	.start-project h2 {
		text-align: right;
    margin-right: 11px;
	}
	.send-msg a {
		margin-right: 0;
		margin-left: -30px;
	}
}


/* ## 1025 to 1200 ## */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
	.research-slope:before {
		width: 54.8%;
		height: 100%;
		/*border: none;
		transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		-o-transform: rotate(5deg);
		background-color: rgba(231,76,68,0.9);*/
		top: -30px;
	}
	/* Our Genius */
	.genius-gallery {
		width: 100%;
		display: inline-block;
	}
	.our-genius .style1,
	.our-genius .style3 {
		width: 24.85%;
	}
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7 {
		width: 27.459%;
	}
	.our-genius .style2 {
		width: 60.2%;
	}
	.our-genius .style1,
	.our-genius .style2,
	.our-genius .style3,
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7,
	.our-genius .style1 img,
	.our-genius .style2 img,
	.our-genius .style3 img,
	.our-genius .style4 img,
	.our-genius .style5 img,
	.our-genius .style6 img,
	.our-genius .style7 img {
		height: 250px;
	}
	.our-genius .style1 img,
	.our-genius .style2 img,
	.our-genius .style3 img,
	.our-genius .style4 img,
	.our-genius .style5 img,
	.our-genius .style6 img,
	.our-genius .style7 img {
		width: 100% !important;
	}
	.inner-social-info {
		padding: 20px 35px;
	}
	.inner-social-info p {
		font-size: 15px;
		line-height: 25px;
	}
	.progress {
		margin-top: 18px;
		height: 40px;
		line-height: 40px;
	}
	.hover {
		line-height: 290px;
	}
	/* ### Blog Page ### */
	.single-blog .entry-cover img {
		width: 100%;
		height: auto !important;
	}
	.client-style1.client-active,
	.client-style1:hover,
	.client-style2.client-active,
	.client-style2:hover,
	.client-style3.client-active,
	.client-style3:hover {
		height: 745px;
		background-size: 100% 100%;
	}
}


/* ## 1201 to 1280 ## */

@media only screen and (min-width: 1201px) and (max-width: 1280px) {
	/* Our Genius */
	.genius-gallery {
		width: 100%;
		display: inline-block;
	}
	.our-genius .style1,
	.our-genius .style3 {
		width: 25.14%;
	}
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7 {
		width: 27.305%;
	}
	.our-genius .style2 {
		width: 59%;
	}
	.our-genius .style1,
	.our-genius .style2,
	.our-genius .style3,
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7,
	.our-genius .style1 img,
	.our-genius .style2 img,
	.our-genius .style3 img,
	.our-genius .style4 img,
	.our-genius .style5 img,
	.our-genius .style6 img,
	.our-genius .style7 img {
		height: 300px;
	}
	.inner-social-info {
		padding: 20px 35px;
	}
	.inner-social-info p {
		font-size: 15px;
		line-height: 25px;
	}
	.progress {
		margin-top: 25px;
		height: 40px;
		line-height: 40px;
	}
	.hover {
		line-height: 300px;
	}
	.skill-progress-box h6 {
		line-height: 40px;
	}
	/* ### Blog Page ### */
	.single-blog .entry-cover img {
		width: 100%;
		height: auto !important;
	}
	/* ## How We Work ## */
	.clean-code::before {
		bottom: 112px;
		content: "";
		height: 106%;
		position: absolute;
		right: -35px;
		top: -22px;
		width: 53.7%;
	}
	.client-style1.client-active,
	.client-style1:hover,
	.client-style2.client-active,
	.client-style2:hover,
	.client-style3.client-active,
	.client-style3:hover {
		height: 745px;
		background-size: 100% 100%;
	}
}


/* ## 1281 to 1366 ## */

@media only screen and (min-width: 1281px) and (max-width: 1366px) {
	/* Our Genius */
	.genius-gallery {
		width: 100%;
		display: inline-block;
	}
	.our-genius .style1,
	.our-genius .style3 {
		width: 25.14%;
	}
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7 {
		width: 27.151%;
	}
	.our-genius .style2 {
		width: 58.5%;
	}
	.our-genius .style1,
	.our-genius .style2,
	.our-genius .style3,
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7,
	.our-genius .style1 img,
	.our-genius .style2 img,
	.our-genius .style3 img,
	.our-genius .style4 img,
	.our-genius .style5 img,
	.our-genius .style6 img,
	.our-genius .style7 img {
		height: 250px;
	}
	.our-genius .style2 {
		margin-left: -66px;
	}
	.inner-social-info {
		padding: 20px 35px;
	}
	.inner-social-info p {
		font-size: 15px;
		line-height: 25px;
	}
	.skill-progress-box h6 {
		line-height: 40px;
		width: 78%;
	}
	.progress {
		margin-top: 18px;
		height: 40px;
		line-height: 40px;
	}
	.hover {
		line-height: 275px;
	}
	/* ## How We Work ## */
	.clean-code::before {
		bottom: 112px;
		content: "";
		height: 114%;
		position: absolute;
		right: -35px;
		top: -22px;
		width: 53.7%;
	}
	.client-style1.client-active,
	.client-style1:hover,
	.client-style2.client-active,
	.client-style2:hover,
	.client-style3.client-active,
	.client-style3:hover {
		height: 745px;
		background-size: 100% 100%;
	}
}


/* ## 992 to 1024 ## */

@media only screen and (min-width: 992px) and (max-width: 1024px) {
	.research-slope:before {
		width: 54.8%;
		height: 100%;
		/*border: none;
		transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		-o-transform: rotate(5deg);
		background-color: rgba(231,76,68,0.9);*/
		top: -30px;
	}

	.feature-box-inner{
margin-left: 212px;
text-align: left;

	}

	#kurulus{
		position: relative;
		right: 184px;
	}

	#uretiyoruz{

		right: 111px;
	}

	#takip{

		right: 28px;
	}

	#buyuyoruz{


		left: 32px;
	}
	/* Our Genius */
	.genius-gallery {
		width: 100%;
		display: inline-block;
	}
	.our-genius .style1,
	.our-genius .style3 {
		width: 25.2%;
	}
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7 {
		width: 27.882%;
		float: left;
	}
	.our-genius .style2 {
		width: 61.2%;
	}
	.our-genius .style1,
	.our-genius .style2,
	.our-genius .style3,
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7,
	.our-genius .style1 img,
	.our-genius .style2 img,
	.our-genius .style3 img,
	.our-genius .style4 img,
	.our-genius .style5 img,
	.our-genius .style6 img,
	.our-genius .style7 img {
		height: 250px;
	}
	.our-genius .style1 img,
	.our-genius .style2 img,
	.our-genius .style3 img,
	.our-genius .style4 img,
	.our-genius .style5 img,
	.our-genius .style6 img,
	.our-genius .style7 img {
		width: 100%;
	}
	.inner-social-info {
		padding: 20px 35px;
	}
	.inner-social-info p {
		font-size: 15px;
		line-height: 25px;
	}
	.progress {
		margin-top: 18px;
		height: 40px;
		line-height: 40px;
	}
	.skill-progress-box h6 {
		line-height: 40px;
		width: 79%;
	}
	.hover {
		line-height: 270px;
	}
	/* ### Blog Page ### */
	.single-blog .entry-cover img {
		width: 100%;
		height: auto !important;
	}
	/* client */
	.client-style1.client-active,
	.client-style1:hover,
	.client-style2.client-active,
	.client-style2:hover,
	.client-style3.client-active,
	.client-style3:hover {
		height: 745px;
		background-size: 100% 100%;
	}
	.modal.in .modal-dialog {
		transform: translate(0px, 25%);
		-webkit-transform: translate(0px, 25%);
		-moz-transform: translate(0px, 25%);
		-o-transform: translate(0px, 25%);
		-ms-transform: translate(0px, 25%);
	}
}


/* ## 768 to 991 ## */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	body {
		overflow-x: hidden;
	}


	.start-project h2, .send-msg h2 {
    font-size: 55px;
    text-align: right;
    margin: 40px 0;
}
	/* ## Global ## */
	.slider-section .slide-sub-title,
	.goto-next,
	.service-bg,
	.line,
	.car,
	.application-iphone,
	.our-genius .style2,
	.brag-about-section,
	.blog-section .post>.entry-date,
	.project-section .col-md-6 p,
	.our-genius .style1 svg,
	.our-genius .style2 svg,
	.our-genius .style3 svg,
	.our-genius .style4 svg,
	.our-genius .style5 svg,
	.our-genius .style6 svg,
	.our-genius .style7 svg {
		display: none;
	}
	/* ## Slider Section ## */
	.slider-section .slide-title {
		width: 381px;
		height: 381px;
		padding: 35px 0;
	}
	.slider-section .slide-title span.inner-circle {
		width: 305px;
		height: 305px;
		padding: 71px 0;
	}
	.slider-section .slide-title span.inner-circle span:nth-child(1) {
		font-size: 52.58px;
	}
	.slider-section .slide-title span.inner-circle span:nth-child(2) {
		font-size: 48.01px;
	}
	.slider-section .slide-title span.inner-circle span:nth-child(3) {
		font-size: 45.72px;
	}
	.slider-section .slide-sub-title {
		display: none
	}
	/* ## Services Section ## */
	.service-section {
		padding: 100px 0;
	}
	.service-bg {
		display: none;
	}
	.service-box-inner {
		margin-bottom: 40px;
	}
	.service-box-inner .col-md-4 {
		float: left !important;
		text-align: right;
	}
	.service-box-inner .content-box {
		text-align: left;
	}
	.service-section .col-md-6:nth-child(4) {
		right: 0;
		margin: 0;
	}
	.service-section .col-md-6:nth-child(5) {
		left: 0;
		margin: 0;
	}
	/* ## Features Section ## */
	.features-section:before {
		width: 100%;
		border-right: 260px solid transparent;
	}
	.feature-box {
		transform: skew(-15deg);
		-webkit-transform: skew(-15deg);
		-moz-transform: skew(-15deg);
		-o-transform: skew(-15deg);
	}
	.feature-box-inner,
	.feature-box-inner h3,
	.feature-box-inner p,
	.feature-box-inner .icon-feature {
		transform: skew(7.5deg);
		-webkit-transform: skew(7.5deg);
		-moz-transform: skew(7.5deg);
		-o-transform: skew(7.5deg);
	}
	.feature-box-inner {
		margin-left: 95px;
	}
	.line {
		display: none;
	}
	/* Our Work */
	.portfolio-image-block img {
		width: 100%;
	}
	/*  ## Why Choose Section ## */
	.why-choose-box {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
	}
	.why-choose:before {
		width: 100%;
	}
	.why-choose-box {
		float: right;
	}

	.polltablet{


		margin-left: 134px;
	}
	.why-choose h2 {
		text-align: center;
	}
	/* ## How We Work ## */
	.how-we-work ul {
		text-align: center;
		padding: 0 19px;
	}
	.how-we-work-categories li:first-child {
		margin-left: 0;
	}
	.how-we-work-categories li:last-child {
		margin-right: 0;
	}
	.how-we-work ul li {
		margin: 0 20px
	}
	.how-we-work ul li:before {
		width: 44px;
	}
	.section-header {
		padding: 70px 0 82px 0;
	}
	.how-we-work {
		overflow: hidden;
	}
	.research-slope {
		background-image: url("../images/how-we-work/research-bg-tablet.jpg");
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		margin-right: 0;
		height: 630px
	}
	.research-slope:before {
		width: 100%;
		height: 100%;
		border-top: 0px solid rgba(231, 76, 68, 0.9);
		border-bottom: 340px solid rgba(231, 76, 68, 0.9);
		border-left: 0px solid transparent;
		border-right: 0px solid transparent;
		top: auto;
		transform: rotate(-4deg);
		-webkit-transform: rotate(-4deg);
		-moz-transform: rotate(-4deg);
		-o-transform: rotate(-4deg);
		right: -20px;
	}
	.research,
	.we-perfection,
	.clean-code-box,
	.we-launch {
		bottom: 19.5%;
		color: #fff;
		position: absolute;
		right: 0;
		width: 66%;
		left: 20px;
		margin: 0 auto;
		top: auto;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	.shape-content h3 {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.shape-content p {
		font-size: 15px;
		line-height: 25px;
	}
	.we-perfection-slope {
		background-image: url("../images/how-we-work/we-perfection-tablet.jpg");
		margin-right: 0;
		margin-top: -90px;
		transform: rotate(3deg);
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		height: 630px;
		width: 108%;
	}
	.we-perfection {
		transform: rotate(-3deg);
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
	}
	.we-perfection-slope:before {
		width: 100%;
		height: 100%;
		border-top: 0px solid rgba(231, 76, 68, 0.9);
		border-bottom: 340px solid rgba(231, 76, 68, 0.9);
		border-left: 0px solid transparent;
		border-right: 0px solid transparent;
		content: "";
		position: absolute;
		top: auto;
		right: -50px;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	.clean-code {
		background-color: transparent;
		background-image: url("../images/how-we-work/clean-code-tablet.png");
		height: 630px;
		margin-top: -25px;
		transform: rotate(-4deg);
		-webkit-transform: rotate(-4deg);
		-moz-transform: rotate(-4deg);
		-o-transform: rotate(-4deg);
	}
	.clean-code-box {
		bottom: 21.5%;
		transform: rotate(4deg);
		-webkit-transform: rotate(4deg);
		-moz-transform: rotate(4deg);
		-o-transform: rotate(4deg);
	}
	.clean-code:before {
		width: 100%;
		height: 100%;
		border-top: 0px solid rgba(231, 76, 68, 0.9);
		border-bottom: 340px solid rgba(231, 76, 68, 0.9);
		border-left: 0px solid transparent;
		border-right: 0px solid transparent;
		content: "";
		top: auto;
		right: 0;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	.we-launch-slope {
		background-color: transparent;
		background-image: url("../images/how-we-work/we-launch-project-tablet.png");
		transform: rotate(4deg);
		-webkit-transform: rotate(4deg);
		-moz-transform: rotate(4deg);
		-o-transform: rotate(4deg);
		margin-top: -143px;
		height: 700px;
	}
	.we-launch-slope:before {
		width: 100%;
		height: 100%;
		border-top: 0px solid rgba(231, 76, 68, 0.9);
		border-bottom: 340px solid rgba(231, 76, 68, 0.9);
		border-left: 0px solid transparent;
		border-right: 0px solid transparent;
		content: "";
		top: auto;
		right: 0;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	.we-launch {
		transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
		bottom: 21%;
	}
	/* ## Application Section ## */
	.application-section .app-content-box {
		padding: 0 100px;
	}
	/* ## Our Genius Section ## */
	.genius-gallery>div {
		width: 50%;
		clip-path: none;
		-webkit-clip-path: none;
	}
	/* ## Our Genius Section ## */
	.our-genius .style1,
	.our-genius .style3,
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7 {
		clip-path: none;
		-webkit-clip-path: none;
		margin: 0;
	}
	.genius-gallery img,
	.our-genius .style1 img,
	.our-genius .style3 img,
	.our-genius .style4 img,
	.our-genius .style5 img,
	.our-genius .style6 img,
	.our-genius .style7 img {
		width: 100% !important;
		height: 360px;
	}
	.statistics-section .col-md-3 {
		margin-bottom: 60px;
	}
	/* ## Blog Section ## */
	.entry-cover {
		margin: 0 auto;
	}
	.blog-section .post:nth-child(3) {
		display: none;
	}
	/* ## Client Section ## */
	.client-hover {
		left: 15%;
		right: 15%;
	}
	.client-hover h2 {
		font-size: 36px;
		line-height: 45px;
	}
	.client-hover {
		top: 30%;
	}
	.client-style3 .client-hover {
		top: 50%;
	}
	/* Client Section */
	.client-style1 {
		background-image: url("../images/client/client-big-1-tablet.jpg");
	}
	.client-style2 {
		background-image: url("../images/client/client-2-tablet.jpg");
	}
	.client-style3 {
		background-image: url("../images/client/client-big-3-tablet.jpg");
	}
	.client-style1.client-active,
	.client-style1:hover,
	.client-style2.client-active,
	.client-style2:hover,
	.client-style3.client-active,
	.client-style3:hover {
		height: 745px;
		background-size: 100% 100%;
	}
	/* ## Social Section ## */
	.social-main a {
		font-size: 24px;
		line-height: 96px;
	}
	/* ## Map Section ## */
	.map-section iframe {
		height: 500px;
	}
	/* ## Project Section ## */
	.start-project h2 {
		text-align: right;
	}
	/* ## Blog Page ## */
	.entry-cover {
		width: 80%;
	}
	.single-blog .entry-cover img {
		width: 100%;
		height: auto !important;
	}
	/* ## Client Section ## */
	/*.client-style1,
	.client-style2,
	.client-style3 {
		width: 100%;
	}
	.client-style2 {
		margin-top: -50px;
	}
	.client-style3 {
		margin-top: -60px;
	}*/
	.modal.in .modal-dialog {
		transform: translate(0px, 25%);
		-webkit-transform: translate(0px, 25%);
		-moz-transform: translate(0px, 25%);
		-o-transform: translate(0px, 25%);
		-ms-transform: translate(0px, 25%);
	}
}


/* ## 319 to 767 ## */

@media only screen and (min-width: 319px) and (max-width: 767px) {
	/* ## Global ## */
	.slider-section .slide-sub-title,
	.goto-next,
	.mobile-iphone,
	.service-bg,
	.line,
	.car,
	.application-iphone,
	.our-genius .style2,
	.brag-about-section,
	.blog-section .post,
	.blog-section .post>.entry-date,
	.project-section .col-md-6 p,
	.our-genius .style1 svg,
	.our-genius .style2 svg,
	.our-genius .style3 svg,
	.our-genius .style4 svg,
	.our-genius .style5 svg,
	.our-genius .style6 svg,
	.our-genius .style7 svg {
		display: none;
	}


	.service-section .col-md-6:nth-child(2n)>.service-box-inner,
	.service-section .col-md-6,
	.service-box-inner,
	.features-section h2,
	.why-choose h2,
	.how-we-work-categories li {
		text-align: center;
	}
	/* ## Features Section ## */
	.features-section,
	.why-choose {
		background-size: auto 100%;
		height: auto;
	}
	.features-section:before {
		    background-color: rgba(0,0,0,0.9);

		border: none;
		width: 100%;



	}
	.feature-box,
	.feature-box-inner,
	.feature-box-inner h3,
	.feature-box-inner p,
	.feature-box-inner .icon-feature {
		transform: skew(0deg);
	}
	.feature-box-inner {
		margin-left: 0;
		text-align: left;
	}
	.feature-box-inner .col-md-4 {
		float: left !important;
		margin-right: 5px;
	}
	.feature-box-inner h3 {
		margin-top: 0;
	}
	/* ## Why Choose ## */
	.why-choose:before {
		position: absolute;
    background-color: rgba(0,0,0,0.9);		border: none;
		width: 100%;
	}
	.section-header h2,
	.features-section h2,
	.why-choose h2 {
		font-size: 36px;
	}
	.why-choose-box .block-title,
	.why-choose-box p,
	.why-choose-inner,
	.why-choose h2 {
		transform: skew(0deg);
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
	}
	.why-choose h2,
	.why-choose-box {
		margin-left: 0;
	}
	.why-choose .col-md-6 {
		float: none !important;
	}
	/* ## How We Work ## */
	.how-we-work ul {
		text-align: center;
		padding: 0;
	}
	.how-we-work-categories li:first-child {
		margin-left: 0;
	}
	.how-we-work-categories li:last-child {
		margin-right: 0;
	}
	.how-we-work ul li {
		margin: 0 20px
	}
	.how-we-work ul li:before {
		width: 44px;
	}
	.section-header {
		padding: 70px 0 82px 0;
	}
	.research-slope {
		background-image: url("../images/how-we-work/research-bg-mobile.jpg");
		position: relative;
	}
	.research-slope:before {
		width: 100%;
		height: 100%;
		border-top: 0px solid rgba(231, 76, 68, 0.9);
		border-bottom: 440px solid rgba(231, 76, 68, 0.9);
		border-left: 0px solid transparent;
		border-right: 0px solid transparent;
		content: "";
		position: absolute;
		top: auto;
		right: 0;
		transform: rotate(-10deg);
		-webkit-transform: rotate(-10deg);
		-moz-transform: rotate(-10deg);
		-o-transform: rotate(-10deg);
	}
	.research,
	.clean-code-box {
		top: auto;
		bottom: 20%;
		width: 70%;
		left: 0;
		right: 0;
		margin: 0 auto;
		-webkit-transform: skewX(0deg);
		-moz-transform: skewX(0deg);
		-o-transform: skewX(0deg);
		-ms-transform: skewX(0deg);
		transform: skewX(0deg);
	}
	.clean-code-box {
		transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		-o-transform: rotate(5deg);
	}
	.we-perfection,
	.we-launch {
		bottom: 15%;
		color: #fff;
		position: absolute;
		right: 0;
		width: 73%;
		left: 20px;
		margin: 0 auto;
		top: auto;
	}
	.shape-content h3 {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.shape-content p {
		font-size: 15px;
		line-height: 25px;
	}
	.we-perfection-slope {
		background-image: url("../images/how-we-work/we-perfection-mobile.jpg");
	}
	.we-perfection-slope:before {
		width: 100%;
		height: 100%;
		border-top: 0px solid rgba(231, 76, 68, 0.9);
		border-bottom: 440px solid rgba(231, 76, 68, 0.9);
		border-left: 0px solid transparent;
		border-right: 0px solid transparent;
		content: "";
		position: absolute;
		top: auto;
		right: 0;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	.clean-code {
		background-color: transparent;
		background-image: url("../images/how-we-work/clean-code-mobile.png");
		height: 622px;
		margin-top: -50px;
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	.clean-code:before {
		width: 100%;
		height: 100%;
		border-top: 0px solid rgba(231, 76, 68, 0.9);
		border-bottom: 350px solid rgba(231, 76, 68, 0.9);
		border-left: 0px solid transparent;
		border-right: 0px solid transparent;
		content: "";
		position: absolute;
		top: auto;
		right: 0;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	.clean-code-box {
		bottom: 15.5%;
	}
	.we-launch-slope {
		background-color: transparent;
		background-image: url("../images/how-we-work/we-launch-project-mobile.png");
		transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		-o-transform: rotate(5deg);
	}
	.we-launch-slope:before {
		width: 100%;
		height: 100%;
		border-top: 0px solid rgba(231, 76, 68, 0.9);
		border-bottom: 300px solid rgba(231, 76, 68, 0.9);
		border-left: 0px solid transparent;
		border-right: 0px solid transparent;
		content: "";
		position: absolute;
		top: auto;
		right: 0;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	.we-launch {
		transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
		bottom: 8%;
	}
	/* ## Our Genius Section ## */
	.our-genius .style1,
	.our-genius .style3,
	.our-genius .style4,
	.our-genius .style5,
	.our-genius .style6,
	.our-genius .style7 {
		clip-path: none;
		-webkit-clip-path: none;
	}
	.genius-gallery img,
	.our-genius .style1 img,
	.our-genius .style3 img,
	.our-genius .style4 img,
	.our-genius .style5 img,
	.our-genius .style6 img,
	.our-genius .style7 img {
		width: 100% !important;
	}
	/* ### Blog Page ### */
	.blog-inner {
		margin: 0 auto;
		display: block;
	}
	.post {
		width: 300px;
		margin: 0 auto 100px;
		display: block;
	}
	.entry-date {
		display: none;
	}
	.by-admin,
	.single-social {
		text-align: center;
	}
	.comment-form .col-md-6,
	.comment-form .col-md-12 {
		padding: 0 15px;
	}
	.blog-section .post:first-child {
		display: block;
	}
	.post-date .entry-date {
		display: inline-block;
	}
	/* Client Section */
	.client-style1 {
		background-image: url("../images/client/client-big-1-mobile.jpg");
	}
	.client-style2 {
		background-image: url("../images/client/client-2-mobile.jpg");
		background-size: 100% 100%;
	}
	.client-style3 {
		background-image: url("../images/client/client-big-3-mobile.jpg");
	}
	.client-hover {
		left: 5%;
		right: 5%;
		top: 18%;
	}
	.client-style3 .client-hover {
		top: 33%;
	}
	.client-style1.client-active,
	.client-style1:hover,
	.client-style2.client-active,
	.client-style2:hover,
	.client-style3.client-active,
	.client-style3:hover {
		height: 483px;
		background-size: 100% 100%;
	}
}


/* ## 481 to 767 ## */

@media only screen and (min-width: 481px) and (max-width: 767px) {
	/* Services Section */
	.service-section {
		padding: 100px 0;
	}
	.service-box-inner {
		margin: 0 0 40px 0;
	}
	.service-box-inner .col-md-4 {
		float: none !important;
	}
	.service-section .col-md-6:last-child>.service-box-inner {
		margin-bottom: 0;
	}
	.service-section .col-md-6:nth-child(4) {
		right: 0;
	}
	.service-section .col-md-6:nth-child(5) {
		left: 0;
	}
	.service-section .col-md-6:nth-child(2n)>.service-box-inner {
		text-align: center;
		margin: 0 auto 40px;
		float: none;
		width: 100%;
	}
	/* Our Work Section */
	.no-space.portfolio-list li {
		width: 100%;
	}
	.portfolio-image-block {
		width: 480px;
		height: 400px;
		margin: 0 auto;
	}
	/* ## Social Section ## */
	.social-main a {
		font-size: 22px;
		line-height: 80px;
	}
	/* ## Our Genius Section ## */
	.genius-gallery .style1,
	.genius-gallery .style3,
	.genius-gallery .style4,
	.genius-gallery .style5,
	.genius-gallery .style6,
	.genius-gallery .style7 {
		margin: 0 auto;
		width: 480px;
		height: 400px;
		display: block;
		float: none;
	}
	.genius-gallery img,
	.genius-gallery .style3 img {
		width: 480px;
		height: 400px;
	}
	.statistics-section .col-md-3 {
		margin-bottom: 60px;
	}
	/* How We Work */
	.how-we-work ul li a i {
		width: 70px;
		height: 70px;
		line-height: 70px;
	}
	.how-we-work ul li:before {
		left: 70px;
		top: 28%;
	}
	.we-launch-slope {
		margin-top: -90px;
	}
}


/* ## 319 to 480 ## */

@media only screen and (min-width: 319px) and (max-width: 480px) {
	/* ## Global ## */
	.service-section .col-md-6:nth-child(4),
	.service-section .col-md-6:nth-child(5) {
		margin: 0;
	}
	.service-section .col-md-6:nth-child(4) {
		right: 0;
	}
	.service-section .col-md-6:nth-child(5) {
		left: 0;
	}
	.our-genius .style3,
	.our-genius .style5,
	.our-genius .style7 {
		margin-left: 0;
	}
	/* ## Slider Section ## */
	.slider-section .slide-title {
		width: 306px;
		height: 306px;
		padding: 27px 0;
	}
	.slider-section .slide-title span.inner-circle {
		width: 246px;
		height: 246px;
		padding: 58px 0;
	}
	.slider-section .slide-title span.inner-circle span:nth-child(1) {
		font-size: 42px;
	}
	.slider-section .slide-title span.inner-circle span:nth-child(2) {
		font-size: 38px;
	}
	.slider-section .slide-title span.inner-circle span:nth-child(3) {
		font-size: 36px;
	}
	/* Services Section */
	.service-section {
		padding: 100px 0;
	}
	.service-box-inner {
		margin: 0 0 40px 0;
	}
	.service-box-inner .col-md-4 {
		float: none !important;
	}
	.service-section .col-md-6:last-child>.service-box-inner {
		margin-bottom: 0;
	}
	/* ## Features Section ## */
	.features-section:before {
		    background-color: rgba(0,0,0,0.9);
		border: none;
		width: 100%;
	}
	.feature-box,
	.feature-box-inner,
	.feature-box-inner h3,
	.feature-box-inner p,
	.feature-box-inner .icon-feature {
		transform: skew(0deg);
		-webkit-transform: skew(0deg);
		-moz-transform: skew(0deg);
		-o-transform: skew(0deg);
	}
	.feature-box-inner {
		margin-left: 0;
		text-align: left;
	}
	.feature-box-inner .col-md-4 {
		float: left !important;
		margin-right: 5px;
	}
	.feature-box-inner h3 {
		margin-top: 0;
	}
	/* ## How We Work ## */
	.how-we-work ul li:before {
		top: 30%;
		left: 70px;
	}
	.how-we-work ul li a i {
		width: 70px;
		height: 70px;
		line-height: 70px;
	}
	.we-launch-slope {
		margin-top: -90px;
	}
	.we-launch {
		left: 55px;
	}
	/* ## Our Genius Section ## */
	.statistics-section .col-md-3 {
		margin-bottom: 60px;
	}
	/* ## Blog Section ## */
	.blog-section .post:first-child {
		display: block;
	}
	.entry-cover {
		float: none;
		display: block;
		margin: 0 auto;
	}
	.entry-cover {
		width: 100%;
	}
	/* ## Client Section ## */
	.client-hover h2 {
		font-size: 24px;
		line-height: 35px;
	}
	/* ## Social Section ## */
	.social-main a {
		font-size: 19.2px;
		line-height: 60px;
	}
	/* ## Map Section ## */
	.map-section iframe {
		height: 300px;
	}
	/* ## Project Section ## */
	.project-section {
		padding: 63px 0;
	}
	.project-section:before {
		border-bottom: 0 solid #e74c3c;
		border-top: 550px solid #e74c3c;
		border-left: 0 solid transparent;
		border-right: 120px solid transparent;
		width: 60%;
	}
	.why-choose h2 {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
	.start-project {
		padding-right: 30px;
	}
	.send-msg {
		padding-left: 30px;
	}
	.start-project h2,
	.send-msg h2 {
		font-size: 33px;
		text-align: right;
	}
	.send-msg h2 {
		/*text-align: left;*/
	}
	.start-project a,
	.send-msg a {
		font-size: 16px;
		padding: 25px 30px;
		margin-left: -15px;
	}
	.start-project a {
		margin-right: 0;
	}
	.send-msg a {
		margin-right: 0;
	}
	/* ## Footer Section ## */
	.footer-section {
		height: auto;
		padding-top: 28px;
	}
	.footer-section a.back-top {
		display: none !important;
	}
	.footer-item {
		margin: 0px 0 28px 40px;
	}
}


/* ## 319 to 479 ## */

@media only screen and (min-width: 319px) and (max-width: 479px) {
	.portfolio-gallery {
		float: none;
	}
	.macsayisi{
padding-top: 28px;

	}
	.portfolio-list li {
		display: block;
	}
	.how-we-work ul li {
		margin-bottom: 20px;
		text-align: center;
		display: block;
		margin: 0 0 20px 0;
	}
	.how-we-work ul li a i {
		margin: 0 auto 20px;
	}
	.how-we-work ul li:before {
		display: none;
	}
	.shape-content h3 {
		font-size: 24px;
	}
	.shape-content p {
		font-size: 14px;
		line-height: 20px;
	}
	.clean-code-box {
		bottom: 18%;
	}
	.app-content-box h2 {
		font-size: 36px;
	}
	.start-project h2,
	.send-msg h2 {
		font-size: 18px;
	}
	.send-msg {
		padding-right: 0;
	}
	.start-project a,
	.send-msg a {
		padding: 21px 5px;
	}
	.we-launch-slope {
		margin-top: -80px
	}
}


/* ## 991 ## */

@media (max-width: 991px) {
	/* Header Section */
	.header-section {
		min-height: 90px;
		height: auto;
	}
	/* Logo Block */
	.logo-block {
		padding-left: 50px;
		position: absolute;
		z-index: 99;
	}
	/* Navigation Menu */
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
		border: none;
		right: 0;
		margin-right: 0;
		padding: 0;
	}
	.navbar-toggle .icon-bar {
		width: 40px;
		height: 5px;
	}
	.navbar-toggle .icon-bar+.icon-bar {
		margin-top: 10px;
	}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background-color: transparent;
	}
	.navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-nav.navbar-right:last-child {
		margin: 0;
	}
	.navbar-collapse.in {
		overflow-y: auto !important;
	}
	.navbar-collapse {
		padding: 0;
		background-color: none;
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	/*.collapse.in,
	.navbar-collapse,
	.navbar-collapse.in { 
		top: 35px !important;
	}*/
	.navbar-collapse.collapse {
		display: none !important;
	}
	.collapse.in {
		display: block !important;
	}
	.navbar-nav {
		width: 100%;
		margin: 0;
	}
	.navbar-nav>li {
		min-height: 0;
		float: none;
	}
	.menu-block {
		padding: 20px 50px;
	}
	.menu-block .navbar-nav>li>a {
		line-height: 15px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.mobile-iphone {
		display: none;
	}
	.slider-content,
	#style1-hover,
	#style3-hover,
	#style4-hover,
	#style5-hover,
	#style6-hover,
	#style7-hover {
		display: none !important;
	}
}